.price {
  padding-top: 80px;
  padding-bottom: 100px;
  overflow: hidden;
}

.price__title {
  margin-bottom: 19px;
}

.price__subtitle {
  margin-bottom: 54px;
  text-align: center;
  color: @accent;
}

.price__calc {
  margin: 0 auto;
  margin-bottom: 27px;
  padding: 31px 44px 68px;
  .xs-block({
    padding: 31px 17px 60px;
  });
  max-width: 770px;

  background-color: #f0f0f0;
  border-radius: 5px;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,.18);
  transition: background-color .3s;
}

.price__header {
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.price__calc p {
  // text-align: right;
  margin-bottom: 20px;
}

.price__calc .riding__box {
  margin-bottom: 32px;

  div:first-child {
    margin-right: 20px;
  }
}

.price__calc > div:not(.price__remark) {
  display: flex;
  justify-content: space-between;
  margin-bottom: 17px;
}

.price__calc label{
  display: flex;
  font-size: 18px;
  .xs(font-size, 15px);
  color: #000000;
  margin-bottom: 0;
}


.price__calc input[type=checkbox],
.price__calc input[type=radio] {
  display: none;
}

.price__calc p input[type=checkbox] + label:after,
.price__calc > div > div input[type=radio] + label:before {
  content: "\2714";
  color: transparent;
  display: inline-block;
  border: 1px solid #ccc;
  font-size: 20px;
  font-weight: 900;
  line-height: 22px;
  // margin: -5px 0px 0 0;
  height: 25px;
  width: 25px;
  text-align: center;
  vertical-align: middle;
  transition: color ease .3s;
}

.price__calc p input[type=checkbox] + label:after {
  margin-left: auto;
}
.price__calc > div > div input[type=radio] + label:before {
  margin-right: 35px;
  .md(margin-right, 10px);
}

.price__calc input[type=checkbox]:checked + label:after,
.price__calc > div > div input[type=radio]:checked + label:before {
  color: @accent;
  border-color: #000;
}

input#price__rooms {
  width: 54px;
  height: 25px;
  text-align: center;
  background: transparent;
  border: 1px solid #3f3f3f;
}


.price__calc .price__total {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  font-size: 18px;

  b {
    text-transform: uppercase;
  }

  span {
    margin-left: auto;
    margin-right: 6px;
    display: inline-block;
    width: 130px;
    padding: 0 10px;
    font-weight: 700;
    text-align: right;
    border: 1px solid #3f3f3f;
  }
}

.price__remark {
  margin-bottom: 22px;
  font-size: 14px;
  text-align: center;
}

.price__btn {
  margin: 0 auto;
  width: 250px;
  .xs(width, 100%);
}



